.password-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
}

.title {
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 700;
}

.password-edit-form {
  width: 392px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.password-edit__button {
  width: 100%;
  height: 33px;
  margin-top: 16px;
  border-radius: 4px;
}